* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  text-align: center;
  max-width: 600px;
  padding: 20px;
}

.logo {
  font-size: 28px;
  margin-bottom: 25px;
}

.title{
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.description {
  color: gray;
  line-height: 1.6;
  margin-bottom: 50px;
}

.card {
  background: #ffffff;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 
    0px 20px 30px 0px rgba(0, 0, 0, 0.03),
    0px 8px 12px 0px rgba(0, 0, 0, 0.08);
}
.container-btns {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.email-btn {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  font-size: 15px;
  text-align: center;
}

.btn {
  padding: 16px;
  border-radius: 12px;
  border: none;
  background-color: #3554d1;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #2c44b3;
}

.textmini {
  font-size: 13px;
  color: #9ca3af;
}
